<ion-header mode="md">
    <ion-navbar>
        <ion-title>Bank Details 5/5</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form novalidate [formGroup]="bankDetails">
        <ion-list mode="ios">
            <ion-label class="header" *ngIf="showNRIAccount">NRI Account</ion-label>
            <ion-label class="header" *ngIf="showIndiaAccount">Saving Account</ion-label>
            <div class="custom-select mb">
                <ion-item mode="ios">
                    <ion-label floating class="custom-float-text">Select Bank</ion-label>
                    <ion-label class="custom-text" (click)="openModal()" name="bank" formContolName="bank">{{defaultBank}}
                    </ion-label>
                </ion-item>
                
                <div class="custom-select-icon">
                    <div class="custom-select-icon-inner"></div>
                </div>
            </div>
            <div class="proper-ifsc mb">
                <ion-item mode="ios">
                    <ion-label floating>IFSC Code</ion-label>
                    <ion-input type="text" name="ifsc" formControlName="ifsc" value="" (input)="checkIFSC()"></ion-input>
                </ion-item>
                <div class="spinner-container">
                    <ion-spinner *ngIf="checkIfsc" mode="md"></ion-spinner>
                </div>
                <ion-icon class="false" name="ios-close-outline" *ngIf="showError"></ion-icon>
                <ion-icon class="true" name="ios-checkmark-outline" *ngIf="properIfsc"></ion-icon>
                <div class="error" *ngIf="showError">
                    Invalid IFSC code.
                </div>
            </div>
            <div class="mb">
                <ion-item mode="ios">
                    <ion-label floating>Branch Name</ion-label>
                    <ion-input type="text" name="branchName" formControlName="branchName" value="" (ionBlur)="branchname()"></ion-input>
                </ion-item>
            </div>
            <div class="mb">
                <ion-item mode="ios">
                    <ion-label floating>Branch Address</ion-label>
                    <ion-textarea name="branchAddress" formControlName="branchAddress" value="" (ionBlur)="branchaddress()"></ion-textarea>
                </ion-item>
            </div>
            <div class="mb" *ngIf="showNRIAccount">
                <ion-item mode="ios">
                    <ion-label floating>Non-Resident</ion-label>
                    <ion-select #outsideInida1 name="outsideInida" [selectOptions]="selectOptions" formControlName="outsideInida" >
                        <ion-option value="External" (ionSelect)="checkResident($event)">External</ion-option>
                        <ion-option value="Internal" (ionSelect)="checkResident($event)" selected>Internal</ion-option>
                    </ion-select>
                </ion-item>
            </div>
            <div class="mb" *ngIf="showIndiaAccount">
                    <ion-item mode="ios">
                        <ion-label floating>Select Account</ion-label>
                        <ion-select #insideIndia1 name="insideIndia" [selectOptions]="selectOptions2" formControlName="insideIndia">
                            <ion-option value="Saving" (ionSelect)="checkInternalResident($event)" selected>Saving</ion-option>
                            <ion-option value="Current" (ionSelect)="checkInternalResident($event)">Current</ion-option>
                        </ion-select>
                    </ion-item>
                </div>
            <div class="mb">
                <ion-item mode="ios">
                    <ion-label floating>Account Number</ion-label>
                    <ion-input type="tel" name="accountNo" [(ngModel)]="accountNo" 
                        formControlName="accountNumber" (input)="checkAccount(accountNo)" 
                        value="{{accountNo}}" ></ion-input>
                </ion-item>
                <!-- <ion-item class="error-block" no-lines> -->
                        <!-- *ngIf="( bankDetails.get('accountNumber').hasError('required') ) && bankDetails.get('accountNumber').touched" -->
                    <div class="error" *ngIf="bankDetails.get('accountNumber').hasError('required') && bankDetails.get('accountNumber').touched">
                        Account Number is required
                    </div>
                    <div class="error" *ngIf="bankDetails.get('accountNumber').hasError('maxlength')">
                        Account Number should not be 14 digits long.
                    </div>
                <!-- </ion-item> -->
            </div>
            <div class="mb">
                <ion-item mode="ios">
                    <ion-label floating>Re-enter Account Number</ion-label>
                    <ion-input type="tel" name="reAccountNo" [(ngModel)]="reAccountNo" value="{{reAccountNo}}" formControlName="re_accountNumber"></ion-input>
                </ion-item>
                <!-- <ion-item class="error-block" no-lines *ngIf="( bankDetails.get('re_accountNumber').hasError('equalTo') || bankDetails.get('re_accountNumber').hasError('required') ) && bankDetails.get('re_accountNumber').touched"> -->
                    <div class="error" *ngIf="bankDetails.get('re_accountNumber').hasError('required') && bankDetails.get('re_accountNumber').touched">
                        Re Account Number is required.
                    </div>
                    <div class="error" *ngIf="bankDetails.get('re_accountNumber').hasError('equalTo') && bankDetails.get('re_accountNumber').touched">
                        Account Number Mismatch
                    </div>
                <!-- </ion-item> -->
            </div>
        </ion-list>

    </form>
    <div class="footer-action-btn">
        <button ion-button round block class="action-btn" mode="md" [disabled]="showError || bankDetails.invalid" (click)="nextPage()">
            COMPLETE REGISTRATION
        </button>
    </div>
</ion-content>