page-your-details {
        ion-content{
            .scroll-content{
                display: flex;
                flex-flow: column nowrap;
                width: 100%;
                background: map-get($colors,contentBg);
                form{
                    margin-bottom: 15px;
                }
                .upload-text{
                    margin:15px 0 15px; 
                    color:#000;
                    text-align: center;
                    font : {
                        size : 1.6rem;
                        weight:500;
                    }
                }
                .upload-container{
                    text-align: center;
                    
                }
                .download-container{
                    margin:15px 0  15px;
                }
                .separator{
                    height: 1px;
                    width: 100%;
                    border-bottom:1px solid rgb(213,213,213);
                }
                .pdf-info{
                    margin-top: 15px;
                    text-align: center;
                    h5{
                        font : {
                            size :1.5rem;
                            weight:500;
                        }
                        color:#000;
                    }
                    ion-label{
                        color:rgb(96,96,96);
                        font : {
                            size : 1.2rem;
                        }
                    }   
                }
                .pdf-section{
                    display: flex;
                    div{
                        width: 150px;
                        margin:auto;
                        box-shadow: 0 0.3px 1.7px 0 rgb(137,137,137);
                        background: #fff;
                        height: 150px;
                        border-radius: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        img{
                            width: 35px;
                            margin-bottom: 30px;
                        }
                        ion-label{
                            max-width: 120px;
                            text-overflow: initial;
                            white-space: initial;
                            color:rgb(96,96,96);
                            font : {
                                size : 1.4rem;
                            }
                            position: absolute;
                            bottom: 14%;
                            margin:0;
                        }
                    }
                }
            }
        }    
}
