<ion-header mode="md">
    <ion-navbar>
        <ion-title>Regulatory Info 4/5</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form>
        <ion-list mode="ios">
            <ion-label class="holder">Applicant FATCA Info</ion-label>
            <div class="custom-select mb">
                    <ion-item mode="ios">
                        <ion-label floating class="custom-float-text">Birth Country</ion-label>
                        <ion-label class="custom-text" (click)="openCountry()">{{birthPlace}}
                        </ion-label>
                    </ion-item>
                    <div class="custom-select-icon">
                        <div class="custom-select-icon-inner"></div>
                    </div>
                </div>
                <div class="error" *ngIf="currentMember?.isNRI && birthPlace==='India'">
                        You have already selected NRI previously.
                    </div>
                    <div class="error" *ngIf="currentMember?.isNRI===false && birthPlace!=='India'">
                        You have already selected Individual previously.
                    </div>
            <!-- <div class="mb">
                <ion-item mode="ios">
                    <ion-label floating>Birth Country</ion-label>
                    <ion-select #birthPlace1 name="birthPlace" [selectOptions]="selectOptions" [(ngModel)]="birthPlace">
                        <ion-option value="India" selected (ionSelect)="checkCountry($event)">India</ion-option>
                        <ion-option value="Russia" (ionSelect)="checkCountry($event)">Russia</ion-option>
                    </ion-select>
                </ion-item>
                <div class="error" *ngIf="currentMember?.isNRI && birthPlace==='India'">
                    You have already selected NRI previously.
                </div>
                <div class="error" *ngIf="currentMember?.isNRI===false && birthPlace==='Russia'">
                    You have already selected Individual previously.
                </div>
            </div> -->
            <div class="mb">
                <ion-item mode="ios">
                    <ion-label floating>Tax Resident Outside India?</ion-label>
                    <ion-select #outsideIndia1 name="outsideInida" [selectOptions]="selectOptions1" [(ngModel)]="outsideInida">
                        <ion-option value="Yes" (ionSelect)="checkResident($event)">Yes</ion-option>
                        <ion-option value="No" (ionSelect)="checkResident($event)" selected>No</ion-option>
                    </ion-select>
                </ion-item>
                <div class="error" *ngIf="currentMember?.isNRI && outsideInida==='No'">
                        You have already selected NRI previously.
                    </div>
                    <div class="error" *ngIf="currentMember?.isNRI===false && outsideInida==='Yes'">
                        You have already selected Individual previously.
                    </div>
            </div>
            <div class="nri-section" *ngIf="showSection">
                <!-- <div class="mb">
                    <ion-item mode="ios">
                        <ion-label floating>Country</ion-label>
                        <ion-input type="text" name="nriCountry" [(ngModel)]="nriCountry" (ngModelChange)="checkNRICountry(nriCountry)"></ion-input>
                    </ion-item>
                </div> -->
                <div class="custom-select mb">
                        <ion-item mode="ios">
                            <ion-label floating class="custom-float-text">Country</ion-label>
                            <ion-label class="custom-text" (click)="openNRICountry()">{{nriCountry}}
                            </ion-label>
                        </ion-item>
                        <div class="custom-select-icon">
                            <div class="custom-select-icon-inner"></div>
                        </div>
                    </div>
                <div class="mb">
                    <ion-item mode="ios">
                        <ion-label floating>TIN No</ion-label>
                        <ion-input type="text" name="tinNo" [(ngModel)]="tinNo" (ngModelChange)="checkTINno(tinNo)"></ion-input>
                    </ion-item>
                </div>
            </div>
            <div class="mb">
                <ion-item mode="ios">
                    <ion-label floating>Political Exposure</ion-label>
                    <ion-select #exposure1 name="exposure" [selectOptions]="selectOptions2" [(ngModel)]="exposure">
                        <ion-option value="Not Applicable" (ionSelect)="checkExposure($event)" >Not Applicable</ion-option>
                        <ion-option value="No" (ionSelect)="checkExposure($event)">No</ion-option>
                    </ion-select>
                </ion-item>
            </div>
            <div class="mb">
                <ion-item mode="ios">
                    <ion-label floating>Gross Annual Income</ion-label>
                    <ion-select #income1 name="income" [selectOptions]="selectOptions3" [(ngModel)]="income" >
                        <ion-option value="5L TO 10L" selected (ionSelect)="checkIncome($event)">5L TO 10L</ion-option>
                        <ion-option value=">= 25 Lacs <=1 Crore" (ionSelect)="checkIncome($event)"> >= 25 Lacs
                            <=1 Crore</ion-option>
                    </ion-select>
                </ion-item>
            </div>
            <div class="mb">
                <ion-item mode="ios">
                    <ion-label floating>Source of Wealth</ion-label>
                    <ion-select #source1 name="source" [selectOptions]="selectOptions4" [(ngModel)]="source">
                        <ion-option value="Salary" (ionSelect)="checkSource($event)" selected>Salary</ion-option>
                        <ion-option value="Bussiness" (ionSelect)="checkSource($event)" >Bussiness</ion-option>
                    </ion-select>
                </ion-item>
            </div>
            <div class="mb">
                <ion-item mode="ios">
                    <ion-label floating>ID Source (Given for KYC)</ion-label>
                    <ion-select #identfication1 name="identification" [selectOptions]="selectOptions5" [(ngModel)]="identification">
                        <ion-option value="PAN Card" selected (ionSelect)="checkIndentification($event)">PAN Card</ion-option>
                        <ion-option value="Aadhar Card" (ionSelect)="checkIndentification($event)">Aadhar Card</ion-option>
                    </ion-select>
                </ion-item>
            </div>
            <div class="mb">
                <ion-item mode="ios">
                    <ion-label floating>Occupation</ion-label>
                    <ion-select #occuptaion1 name="occupation" [selectOptions]="selectOptions6" [(ngModel)]="occupation" >
                        <ion-option value="Private Sector Service" (ionSelect)="checkOccupation($event)" selected>Private Sector Service</ion-option>
                        <ion-option value="Aadhar Card" (ionSelect)="checkOccupation($event)">Government Sector</ion-option>
                    </ion-select>
                </ion-item>
            </div>
            <div class="hideDetails">
                <ion-item mode="md" no-lines>
                    <ion-label name="resident">I am not a US & Canada Resident</ion-label>
                    <ion-checkbox mode="md" for="resident" checked name="residentCheck" [(ngModel)]="residentCheck" (ngModelChange)="checkResidency(residentCheck)"></ion-checkbox>
                </ion-item>
            </div>
        </ion-list>

    </form>
    <div class="footer-action-btn">
        <button ion-button round block class="action-btn" mode="md" [disabled]="disableBtn || (currentMember?.isNRI && birthPlace==='India') || (currentMember?.isNRI===false && birthPlace==='Russia') || (currentMember?.isNRI && outsideInida==='No') || (currentMember?.isNRI===false && outsideInida==='Yes')"
            (click)="nextPage()">
            CONTINUE
        </button>
    </div>
</ion-content>