page-regulatory-info {
    ion-content{
        .scroll-content{
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            background: map-get($colors,contentBg);
            ion-list{
                .mb{
                    margin-bottom: 30px;
                }
                .mb-0{
                    margin-bottom: 0;
                }
                ion-item{
                    background: map-get($colors,contentBg);
                }
                ion-select.select{
                    padding-top:0;
                    padding-bottom:6px;
                }
                // .item.item-input-has-value ion-label,
                // .item.input-has-value ion-label{
                //     font-size:1.4rem;
                //     width: 100%;
                // }
                .item-ios.item-label-floating .text-input{
                    margin-top: 0px;
                    margin-bottom: 6px;
                }
                input,.select-text,textarea.text-input,.custom-text{
                    color:#000;
                    font-weight: 500;
                    font-size: 1.6rem;
                }
                .holder{
                    color:rgb(96,96,96);
                    font : {
                        size : 1.6rem;
                        weight:500;
                    }
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .hideDetails{
                    height: 30px;
                    ion-label{
                        color:rgb(96,96,96);
                        font : {
                            size : 1.3rem;
                            weight:500;
                        }
                        text-overflow: initial;
                        white-space: initial;
                    }
                    ion-checkbox{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
