page-correspondence-address {
    ion-content{
        .scroll-content{
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            background: map-get($colors,contentBg);
            ion-list{
                .mb{
                    margin-bottom: 0px !important;
                }
                .mb-0{
                    margin-bottom: 0;
                }
                .pl-0{
                    padding-left: 0 !important;
                }
                .pr-0{
                    padding-right: 0 !important;
                }
                ion-item{
                    background: map-get($colors,contentBg);
                }
                ion-select.select{
                    padding-top:0;
                    padding-bottom:6px;
                }
                .nri-text{
                    color:rgb(14,97,155);
                    margin:5px 0 5px;
                    font : {
                        size : 1.2rem;
                    }
                }
                .member-detail{
                    display: flex;
                    .member-title{
                        width: 25%;
                        ion-select{
                            max-width: 100%;
                            padding: 3px 0px 6px 0;
                            height: 26px;
                            // display: flex;
                            // align-items: flex-end;
                            .select-icon{
                                position: absolute;
                                right: 5px;
                            }
                        }
                    }
                    .member-name{
                        width: 100%;
                        margin-left:25px;
                    }
                }
                // .item.item-input-has-value ion-label,
                // .item.input-has-value ion-label{
                //     font-size:1.4rem;
                //     width: 100%;
                // }
                .header{
                    color:rgb(96,96,96);
                    font : {
                        size : 1.6rem;
                        weight:500;
                    }
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .item-ios.item-label-floating .text-input{
                    margin-top: 0px;
                    margin-bottom: 6px;
                }
                input,.select-text,textarea.text-input,.custom-text{
                    color:#000;
                    font-weight: 500;
                    font-size: 1.6rem;
                }
                .custom-select{
                    position: relative;
                    margin-bottom:0 !important;
                    .custom-text{
                        margin-top:0;
                        margin-bottom:4px;
                    }
                    .custom-float-text{
                        // font-size: 1.4rem;
                        width: 100%;
                        transform: translate3d(0, 0, 0) scale(0.8);
                        color: #606060;
                    }
                    .custom-select-icon{
                        position: absolute;
                        right: 20px;
                        bottom: 16px;
                        .custom-select-icon-inner{
                            left: 5px;
                            top: 50%;
                            margin-top: -2px;
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-top: 5px solid;
                            border-right: 5px solid transparent;
                            border-left: 5px solid transparent;
                            pointer-events: none;
                            color:#000;
                        }
                    }
                }
                .info {
                    img{
                        width: 10px;
                    }
                }
                .hideDetails{
                    ion-label{
                        color:rgb(96,96,96);
                        font : {
                            size : 1.3rem;
                            weight:500;
                        }
                        text-overflow: initial;
                        white-space: initial;
                    }
                    ion-checkbox{
                        margin-right: 10px;
                    }
                }
                ion-row{
                    ion-col{
                        padding-bottom: 0;
                    }
                }
                .custom-dropdown{
                    ion-select.select{
                        padding: 24px 0 6px;
                        min-width: 100%;
                        .select-icon{
                            position: absolute;
                            right: 10px;
                            bottom: 8px;
                        }
                    }
                }
            }
        }
    }
}
