// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/******************global varisbles*******************/
// $myriadProRegular:myriadProRegular,sans-serif;
// $myriadProBoldCond:myriadProBoldCond,sans-serif;

// $robotoCondensed:robotoCondensed,sans-serif;
// $robotoCondensedRegular:robotoCondensedRegular,sans-serif;
// $robotoCondensedBold:robotoCondensedBold,sans-serif;
// $robotoMedium:robotoMedium,sans-serif;
// $robotoRegular:robotoRegular,sans-serif;
/******************global varisbles*******************/

// gloabal css
ion-list{
    margin-bottom: 20px !important;
}
.checkbox-md .checkbox-icon{
    width: 14px;
    height: 14px;
}
ion-checkbox.checkbox .checkbox-checked .checkbox-inner{
    top:1px !important;
}

.error{
    color:red;
    font : {
        size: 1.2rem;
    }
}
.input-cover{
    position: static;
}
button.bar-button{
    font : {
        size : 2.4rem;
    }
}
button.back-button-md{
    margin: 0;
    padding: 0;
    min-width: 25px;
    ion-icon{
        font-size: 3.4rem;
        font-weight: lighter;
    }
}
ion-navbar ion-title .toolbar-title-md{
    padding: 0;
}
ion-header ion-icon.back-button-icon.icon {
    color: map-get($colors, light);
}
ion-header button.bar-button {
    color: map-get($colors, light);
}
.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input {
    margin-left: 0px;
    width: 100% ;
}
ion-select .select-placeholder{
    color:#999 !important;
    font-size: 1.4rem !important;
}
.scroll-content{
    padding-bottom:0;
    //all pages global styling
    .action-btn{
        background: linear-gradient(rgb(25,123,192),rgb(0,63,107));
        text-transform: uppercase;
        height: 46px;
        color:#fff;
        font : {
            size : 1.4rem;
            weight:500;
        }
        box-shadow: 0px 0.7px 2.7px 0 rgb(137,137,137);
        &.activated{
            background: linear-gradient(rgb(25,123,192),rgb(0,63,107));
            color:#fff;
        }
    } 
    .list-ios > .item-block:first-child{
        border-top:0;
    }
    form{
        flex: 1 0 auto;
    }
    .footer-action-btn{
        flex:0 1 auto;
    }
}
ion-navbar{
    .toolbar-background{
        background:map-get($colors, primary);
    }
    ion-title.title-ios{
        padding:0 35px 1px;
        .toolbar-title{
            text-align: left;
        }
    }
    ion-title{
        .toolbar-title{
            color:map-get($colors, light );
            font-size: 1.6rem;
        }
    }
}

ion-list .mb-30,ion-list .mb{
    margin-bottom: 10px !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner{
    box-shadow:none;
    width: 100%;
    // padding-bottom: 3px;
}
.item-md.item-input.item-input-has-focus ion-label[floating],
.item-md.item-input.input-has-focus ion-label[floating]{
    color:map-get($colors,primary);
    width: 100%;

}
.item.item-input-has-value ion-label[floating],
.item.input-has-value ion-label[floating]{
    width: 100%;
    font-size: 1.4rem;
}
.item ion-label[floating]{
    font-size: 1.4rem;
}
.item.item-input-has-value ion-label,
.item.input-has-value ion-label{
    color:#606060;
    font-size: 1.4rem;
}
.item.item-input-has-value .item-inner,
.item.item-input.item-input-has-focus .item-inner{
    padding-bottom: 3px !important;
}
// ion-content .scroll-content ion-list .item-ios.item-input-has-value.item-label-floating .text-input,
// ion-content .scroll-content ion-list .item-ios.item-input-has-focus.item-label-floating .text-input
// {
//     padding-bottom: 0px !important;
// }
// ion-content .scroll-content ion-list .item-ios.item-label-floating .text-input{
//     padding-bottom: 6px !important;
// }
// ion-item.item.item-label-floating{
//     font-size: 1.7rem;
// } 
// ion-item.item-input-has-focus.input-has-focus{
//     font-size: 1.5rem;
// }
.list-ios .item-block .item-inner{
    border-bottom:0.55px solid rgb(195,195,195);
    padding-right: 0;
    padding-bottom: 3px;
}
.item-ios{
    padding-left: 0;
}
ion-select.select .select-icon .select-icon-inner{
    color:#000;
}
ion-checkbox.checkbox .checkbox-icon{
    border:0.7px solid rgb(195,195,195);
}
ion-checkbox.checkbox .checkbox-checked{
    background: #fff;
}
ion-checkbox.checkbox .checkbox-checked .checkbox-inner{
    border-color: rgb(96,96,96);
    top:1px;
}
// global css end


//otp modal
ion-modal.otpModal{
    background: rgba(0,0,0,0.8);
    .modal-wrapper{
        .ion-page {
            top:0;
            left:0;
            right: 0;
            margin: auto;
            bottom: 0;
            width: 90%;
            height: 290px;
            .send-otp-btn{
                button{
                    width: 120px;
                    margin: auto;
                }
            }
        }
    }    
}

//custom download modal
ion-modal.downloadModal{
    background: rgba(0,0,0,0.8);
    .modal-wrapper{
        .ion-page {
            top:0;
            left:0;
            right: 0;
            margin: auto;
            bottom: 0;
            width: 90%;
            height: 180px;
        }
    }    
}
//custom select popup
ion-modal.selectPopupModal{
    background: rgba(0,0,0,0.8);
    .modal-wrapper{
        .ion-page {
            top:0;
            left:0;
            right: 0;
            margin: auto;
            bottom: 0;
            width: 90%;
            height: 382px;
            .send-otp-btn{
                button{
                    width: 120px;
                    margin: auto;
                }
            }
        }
    }    
}

// ion-content .scroll-content ion-list .item-ios.item-label-floating .text-input{
//     outline:0;
// }
ion-content .scroll-content ion-list .custom-select{
    min-height: 45px !important;
}
.focus-outline [ion-button]:focus, .focus-outline button:focus{
    outline: 0;
    border-color:transparent;
    box-shadow: none;
}
//modal dimsiss global css
button.dismiss{
    height: 25px;
    width:25px;
    // border-radius: 50%;
    // padding:4px;
    position: absolute;
    top: 0;
    right:0;
    box-shadow: none;
    color:map-get($colors,dark);
    font : {
        size : 20px;
    }
    ion-icon{
        font-weight: 600;
        color: #333;
    }
    background: transparent;
    &.activated{
        background: transparent;
    }
}
//checkbox
.item-md{
    padding-left: 0;
}
.item.item-md .checkbox-md{
    margin-right:11px;
}
// #wrapper{
//     height: 100%;
//     z-index: 9999;
//     position: relative;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     display: flex;
//     justify-content: center;
//     /* align-items: center; */
//     /* height: 400px; */
//     background: rgba(0,0,0,0.7);
//     .progress-outer {
//         width: 96%;
//         margin: 10px 2%;
//         padding: 3px;
//         text-align: center;
//         background-color: #f4f4f4;
//         border: 1px solid #dcdcdc;
//         color: #fff;
//         border-radius: 20px;
//         display: flex;
//     justify-content: center;
//     align-items: center;
//     // font-size: 59px;
//     z-index: 999;
//     // background: rgba(0,0,0,1);
//     }
 
//     .progress-inner {
//         min-width: 15%;
//         white-space: nowrap;
//         overflow: hidden;
//         padding: 5px;
//         border-radius: 20px;
//         background-color: map-get($colors, primary);
//     }
//     #loader{
//        display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 59px;
//     z-index: 999;
//     background: rgba(0,0,0,1); 
//     width: 181px;
//     height: 170px;
//     margin: auto;
//     border-radius: 15px;
//     color: #fff;
//     }
// }
// .alert-md .select-alert .single-select-alert{
    .alert-button-group > .alert-button:nth-child(2){
        display:none;
        }
    // }