page-holding-details {
    ion-content{
        .scroll-content{
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            background: map-get($colors,contentBg);
            ion-list{
                .mb{
                    margin-bottom: 30px;
                    position: relative;
                }
                .mb-0{
                    margin-bottom: 0;
                }
                .spinner-container{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
                .error-block{
                    min-height: 20px;
                    ion-label{
                        margin:0;
                    }
                }
                .error{
                    color:red;
                    font : {
                        size : 1.2rem;
                    }
                }
                ion-item{
                    background: map-get($colors,contentBg);
                }
                .item-ios.item-label-floating .text-input{
                    margin-top: 0px;
                    margin-bottom: 6px;
                }
                input,.datetime-text,textarea.text-input,.select-text,.custom-text{
                    color:#000;
                    font-weight: 500;
                    font-size: 1.6rem;
                }
                ion-select.select{
                    padding-top:0;
                    padding-bottom:6px;
                }
                .contact-no{
                    position: relative;
                }
                .custom-select{
                    position: relative;
                    .custom-text{
                        margin-top:0;
                        margin-bottom:6px;
                    }
                    .custom-float-text{
                        // font-size: 1.4rem;
                        width: 100%;
                        transform: translate3d(0, 0, 0) scale(0.8);
                        color: #606060;
                    }
                    .custom-select-icon{
                        position: absolute;
                        right: 20px;
                        bottom: 16px;
                        .custom-select-icon-inner{
                            left: 5px;
                            top: 50%;
                            margin-top: -2px;
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-top: 5px solid;
                            border-right: 5px solid transparent;
                            border-left: 5px solid transparent;
                            pointer-events: none;
                            color:#000;
                        }
                    }
                }
                .holder{
                    color:rgb(96,96,96);
                    font : {
                        size : 1.6rem;
                        weight:500;
                    }
                    position: relative;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    span{
                        position: absolute;
                        right: 0;
                        ion-icon{
                            font-size: 1.2em;
                            color:#333;
                            font-weight: 600;
                        }
                    }
                }
                .proper-panNo{
                    position: relative;
                    ion-icon{
                        position: absolute;
                        right: 0;
                        font-size: 2em;
                        &.false{
                            color:red;
                            bottom: 0;
                        }
                        &.true{
                            bottom: 0;
                            color:map-get($colors,primary);
                        }
                    }
                }
                .proper-aadhar{
                    position: relative;
                    ion-icon{
                        position: absolute;
                        right: 0;
                        font-size: 2.4em;
                        &.false{
                            color:red;
                            bottom: 10px;
                        }
                        &.true{
                            bottom: 0;
                            color:map-get($colors,primary);
                        }
                    }
                    .otp{
                        position: absolute;
                        right: 0;
                        margin: 0;
                        bottom: 1.2em;
                        color:rgb(0,6,255);
                        font : {
                            size :1.4rem;
                            weight:600;
                        }
                    }
                }
                .custom-select{
                    position: relative;
                    .custom-text{
                        margin-top:0;
                        margin-bottom:6px;
                    }
                    .custom-float-text{
                        // font-size: 1.4rem;
                        padding-bottom: 5px;
                        width: 100%;
                        transform: translate3d(0, 0, 0) scale(0.8);
                        color: #606060;
                    }
                    .custom-select-icon{
                        position: absolute;
                        right: 20px;
                        bottom: 16px;
                        .custom-select-icon-inner{
                            left: 5px;
                            top: 50%;
                            margin-top: -2px;
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-top: 5px solid;
                            border-right: 5px solid transparent;
                            border-left: 5px solid transparent;
                            pointer-events: none;
                            color:#000;
                        }
                    }
                }
                .member-detail{
                    display: flex;
                    overflow: hidden;
                    width: 100%;
                    .member-title{
                        min-width: 20%;
                        ion-select{
                            max-width: 100%;
                            padding: 3px 0px 6px 0;
                            height: 26px;
                            // display: flex;
                            // align-items: flex-end;
                            .select-icon{
                                position: absolute;
                                right: 5px;
                            }
                        }
                    }
                    .member-name{
                        width: 80%;
                        margin-left:15px;
                    }
                }
                .dob{
                    position: relative;
                    img{
                        position: absolute;
                        right: 5px;
                        bottom: 1em;
                        width:10px;
                    }
                    ion-datetime.datetime{
                        padding: 0px 8px 6px 0px;
                    }
                }
                .birthPlace{
                    ion-select{
                        padding-top: 0;
                    }
                }
                .hideDetails{
                    .collapsible{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color:rgb(96,96,96);
                        font : {
                            size : 1.6rem;
                            weight:500;
                        }
                        margin-top: 0px;
                        margin-bottom: 10px;
                        ion-icon{
                            font : {
                                size : 2rem;
                            }
                        }
                    }
                    .show-info{
                        // height: auto;
                    }
                }
                .add-holder{
                    button{
                        margin: 0;
                        padding: 0;
                        height: 24px;
                        color:rgb(83,181,72);
                        font : {
                            size : 1.5rem;
                            weight:500;
                        }
                        text-transform: initial;
                        &.activated{
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}
