page-non-kyc-family {
    ion-content{
        .scroll-content{
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            background: map-get($colors,contentBg);
            ion-list{
                .mb{
                    margin-bottom: 30px;
                    position: relative;
                }
                .mb-0{
                    margin-bottom: 0;
                    position: relative;
                }
                ion-item{
                    background: map-get($colors,contentBg);
                }
                // .item.item-input-has-value ion-label,
                // .item.input-has-value ion-label{
                //     font-size:1.4rem;
                //     width: 100%;
                // }
                .item-ios.item-label-floating .text-input{
                    margin-top: 0px;
                    margin-bottom: 6px;
                }
                input,.select-text{
                    color:#000;
                    font-weight: 500;
                    font-size: 1.6rem;
                }
                .filteredNames{
                    background: #fff;
                    padding: 0 5px;
                    max-height: 150px;
                    overflow: auto;
                    -webkit-overflow-scrolling: auto;
                    width:calc(100% - 30px);
                    z-index: 9999;
                    position: absolute;
                }
                .add-family{
                    position: relative;
                    height: 34px;
                    ion-checkbox{
                        margin-right: 90px !important;
                    }
                    ion-label{
                        margin:0;
                        position: absolute;
                        right: 0;
                        color:rgb(96,96,96);
                    }
                    ion-item{
                        margin-bottom: 0;
                    }
                }
                .noName{
                    color:red;
                    font : {
                        size : 1.2rem;
                    }
                }
                .spinner-container{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
                .pan-spinner{
                    right:15px;
                }
                .proper-panNo{
                    position: relative;
                    ion-icon{
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        font-size: 2.4em;
                        color:map-get($colors,primary);
                    }
                    .false{
                        color:map-get($colors,danger);
                        font-weight: bold;
                    }
                }
                .contact-no{
                    position: relative;
                    .otp{
                        position: absolute;
                        right: 0;
                        margin: 0;
                        bottom: 0.5em;
                        color:rgb(0,6,255);
                        font : {
                            size :1.4rem;
                            weight:600;
                        }
                    }
                }
                .intl-tel-input{
                    display: flex;
                    .country-code{
                        width: 30%;
                        position: relative;
                        img{
                            position: absolute;
                            left:0;
                            bottom: 0.8em;
                        }
                        ion-select{
                            max-width: 100%;
                            padding: 0px 15px 6px 0;
                            // height: 70px;
                            display: flex;
                            align-items: flex-end;
                            .select-icon{
                                position: absolute;
                                right: 5px;
                            }
                            .select-text{
                                text-align: right;
                                padding-right:5px;
                            }
                        }
                    }
                    .member-no{
                        display: flex;
                        margin-left:25px;
                        align-items: flex-end;
                        width: 100%;
                        .text-input{
                            margin-bottom: 0px;
                        }
                    }
                }
                .check-nri{
                    display: flex;
                    ion-label{
                        margin: 0;
                        display: flex;
                        align-items: center;
                        color:#000;
                        font-weight: 500;
                        font-size: 1.6rem;
                    }
                    .switch {
                        position: relative;
                        height: 34px;
                        width: 113px;
                        background: map-get($colors,contentBg);
                        border:0.55px solid rgb(96,96,96);
                        border-radius: 34px;
                        .switch-label {
                            position: relative;
                            z-index: 2;
                            float: left;
                            width: 55px;
                            line-height: 34px;
                            font-size:1.4rem;
                            color:#000;
                            font-weight:500;
                            text-align: center;
                            cursor: pointer;
                            &.active {
                                font-weight: bold;
                            }
                        }
                        .switch-label-off {
                            padding-left: 0px;
                        }
                        .switch-label-on {
                            padding-right: 0px;
                        }
                        .switch-input {
                            display: none;
                        }
                        .switch-input.nri-checked + .switch-label {
                            color:#fff;
                            -webkit-transition: 0.15s ease-out;
                            -moz-transition: 0.15s ease-out;
                            -ms-transition: 0.15s ease-out;
                            -o-transition: 0.15s ease-out;
                            transition: 0.15s ease-out;
                            -webkit-transition-property: color;
                            -moz-transition-property: color;
                            -ms-transition-property: color;
                            -o-transition-property: color;
                            transition-property: color;
                          }
                          .switch-input.nri-checked + .switch-label-on ~ .switch-selection {
                            left: 60px;
                          }
                          .switch-selection {
                            position: absolute;
                            z-index: 1;
                            top: 3px;
                            left: 6px;
                            display: block;
                            width: 45px;
                            height: 27px;
                            border-radius: 34px;
                            -webkit-transition: left 0.15s ease-out;
                            -moz-transition: left 0.15s ease-out;
                            -ms-transition: left 0.15s ease-out;
                            -o-transition: left 0.15s ease-out;
                            transition: left 0.15s ease-out;
                            background-color: map-get($colors,primary);
                        }
                      }     
                }
                .member-detail{
                    display: flex;
                    .member-title{
                        width: 30%;
                        ion-select{
                            max-width: 100%;
                            padding: 11px 11px 6px 0;
                            height: 59px;
                            display: flex;
                            align-items: flex-end;
                            .select-icon{
                                position: absolute;
                                right: 5px;
                            }
                        }
                    }
                    .member-name{
                        width: 100%;
                        margin-left:25px;
                    }
                }
            }
        }
    }
}
