<ion-header mode="md">
  <ion-navbar>
    <ion-title>Your Details 1/5</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #investorForm="ngForm" novalidate>
    <ion-list mode="ios">
      <div class="mb-0">
        <ion-item mode="ios">
          <ion-label floating>Enter Family</ion-label>
          <ion-input type="text" name="familyName" [disabled]="currentMember.isNewMember" [(ngModel)]="currentMember.familyName" (ngModelChange)="onFamilyNameChanged()" value="Pradip Malpute"></ion-input>
        </ion-item>        
        <div *ngIf="searching && !currentMember?.isNewMember && currentMember?.familyName !== ''" class="spinner-container">
          <ion-spinner mode="md"></ion-spinner>
        </div>
      </div>
      <div class="filteredNames" *ngIf="searchFlag && !currentMember?.isNewMember && currentMember?.familyName !== ''">
        <ion-label *ngFor="let member of familyMembers" (click)="setValue(member)">
            {{member.familyName}}
        </ion-label>
      </div>
      <div *ngIf="noResult && !currentMember?.isNewMember && currentMember?.familyName !== ''" class="noName">
        No name found.
      </div>



      <div class="add-family">
        <ion-item mode="md">
          <ion-label text-right>New Family</ion-label>
          <ion-checkbox item-end mode="md" name="isNewMember" [(ngModel)]="currentMember.isNewMember" (ngModelChange)="isNewMember(currentMember.isNewMember)"></ion-checkbox>
        </ion-item>
      </div>


      <div class="proper-panNo mb-0">
        <ion-item mode="ios">
          <ion-label floating>Investor PAN No.</ion-label>
          <ion-input type="text" name="investorPan" #investorPan="ngModel"  patternValidate="pan" [(ngModel)]="currentMember.pan_no" (ngModelChange)="investorPAN(currentMember.pan_no)"></ion-input>
        </ion-item>
        <div *ngIf="panSearching" class="spinner-container pan-spinner">
            <ion-spinner mode="md"></ion-spinner>
        </div>
        <ion-icon name="ios-close-outline" class="false" *ngIf="isPANRight!==undefined && !isPANRight && currentMember.pan_no !== ''"></ion-icon>
        <ion-icon name="ios-checkmark-outline" *ngIf="isPANRight!==undefined && isPANRight && currentMember.pan_no !== ''"></ion-icon>
      </div>
      <div class="error" *ngIf="investorPan.touched && investorPan.dirty && investorPan?.errors?.invalidPattern">
				Investor PAN Number should have first five character, four digits and one character at the end. Like, BEADF3944M.
      </div>
      <div class="error" *ngIf="investorPan.touched && investorPan.dirty && investorPan?.errors === null && isPANExist">
        This PAN No. is already exist
      </div>

      <!-- <div class="contact-no mb" *ngIf="isPANRight!==undefined && !isPANRight">
        <ion-item mode="ios">
          <ion-label floating>Contact</ion-label>
          <ion-input type="tel" name="contact" [(ngModel)]="currentMember.contact"></ion-input>
        </ion-item>
        <ion-label class="otp" (click)="sendOTP()">Send OTP</ion-label>
      </div> -->
      <div class="contact-no mb-0">
        <!-- <ion-item mode="ios" *ngIf="isPANRight!==undefined && isPANRight">
          <ion-label floating>Aadhar No.</ion-label>
          <ion-input type="tel" name="aadharNo" patternValidate="memberid" [(ngModel)]="currentMember.aadhar_no" maxLen="12" #aadharNo="ngModel"></ion-input>
        </ion-item> *ngIf="isPANRight!==undefined && !isPANRight"-->
        <ion-item mode="ios">
          <ion-label floating>Aadhar No.</ion-label>
          <ion-input type="tel" name="aadharNo" patternValidate="memberid" [(ngModel)]="currentMember.aadhar_no" maxLen="12" #aadharNo="ngModel"></ion-input>
        </ion-item>
        <button ion-button clear outline mode="md" class="otp" [disabled]="!(currentMember.aadhar_no)||(aadharNo.touched && aadharNo.dirty && aadharNo?.errors!==null)" (click)="sendOTP()">Send OTP</button>
      </div>
      <div class="error" *ngIf="aadharNo && aadharNo.touched && aadharNo.dirty && aadharNo?.errors?.required">
				Aadhar No is mandatory
      </div>
      <div class="error" *ngIf="isPANRight!==undefined && !isPANRight && currentMember.aadhar_no === ''">
          Aadhar No is mandatory
      </div>
      <div class="error" *ngIf="aadharNo && aadharNo.touched && aadharNo.dirty && aadharNo?.errors?.maxLength">
				Aadhar No should not be more than 12 digits long
      </div>
      <div class="error" *ngIf="aadharNo && aadharNo.touched && aadharNo.dirty && aadharNo?.errors?.invalidPattern">
				Aadhar No should be 12 digit number
			</div>

      <div class="intl-tel-input mb">
        <div class="country-code">
          <ion-item mode="ios">
            <ion-label floating>Mobile No.</ion-label>
            <ion-select #countryCode name="code" [selectOptions]="selectOptions1" [(ngModel)]="indianCode" [disabled]="!currentMember?.isNRI">
              <ion-option *ngFor="let code of countryCodeArr" (ionSelect)="countryClose($event)" [value]="code">{{code}}</ion-option>
            </ion-select>
          </ion-item>
          <img src="./assets/imgs/india-flag.png" *ngIf="!currentMember?.isNRI" alt="flag">
          <img [src]="bindIcon" *ngIf="showOtherCountryIcon" alt="flag">
          <!-- <img src="./assets/imgs/japan-flag.png" *ngIf="currentMember?.isNRI" alt="flag"> -->
        </div>
        <div class="member-no">
          <ion-item mode="ios">
            <ion-input type="tel" mode="ios" name="mobileNo" patternValidate="mobile" [(ngModel)]="currentMember.mobile" #mobileNo="ngModel"></ion-input>
          </ion-item>
        </div>
      </div>
      <div class="error" *ngIf="mobileNo && mobileNo.touched && mobileNo.dirty && mobileNo?.errors?.invalidPattern">
				Mobile No should be 10 digit number
			</div>
      <!-- <ngx-intl-tel-input [(value)]="8733083855"></ngx-intl-tel-input> -->
      <div class="check-nri mb-0">
        <ion-label>Are you a NRI?</ion-label>
        <div class="switch">
          <input type="radio" class="switch-input" name="toggle" id="yes" [value]="true" [ngClass]="{'nri-checked':currentMember?.isNRI}" [(ngModel)]="currentMember.isNRI" (change)="checkNRI(true)">
          <label for="yes" class="switch-label switch-label-off">Yes</label>
          <input type="radio" class="switch-input" name="toggle" id="no" [value]="false" [ngClass]="{'nri-checked': !currentMember?.isNRI}" [(ngModel)]="currentMember.isNRI" (change)="checkNRI(false)">
          <label for="no" class="switch-label switch-label-on">No</label>
          <span class="switch-selection"></span>
        </div>
      </div>
      <div class="mb">
        <ion-item mode="ios">
          <ion-label floating>Email ID</ion-label>
          <ion-input type="email" name="email" patternValidate="email" #email="ngModel" [(ngModel)]="currentMember.email"></ion-input>
        </ion-item>
      </div>
      <div class="error" *ngIf="email && email.touched && email.dirty && email?.errors?.invalidPattern">
				Email is invalid
			</div>
      <div class="member-detail mb">
        <div class="member-title">
          <ion-item mode="ios">
            <ion-select #title name="title" placeholder="Title" [selectOptions]="selectOptions" [(ngModel)]="currentMember.title" #title="ngModel">
              <ion-option value="Mr." (ionSelect)="closeTitle($event)" selected>Mr.</ion-option>
              <ion-option value="Mrs." (ionSelect)="closeTitle($event)">Mrs.</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="member-name">
          <ion-item mode="ios">
            <ion-label floating>Name as in KYC</ion-label>
            <ion-input type="text" name="memberName" [(ngModel)]="currentMember.name" #memberName="ngModel"></ion-input>
          </ion-item>
        </div>
      </div>
    </ion-list>
  </form>
  <div class="send-otp-btn">
    <button ion-button round block class="action-btn" [disabled]="isPANRight!==undefined && !isPANRight && currentMember.pan_no !== '' && investorForm.invalid" mode="md" (click)="openOTP()">
      SEND OTP
    </button>
  </div>
</ion-content>