page-download-failed {
    ion-content{
        border-radius: 5px;
        .scroll-content{
            display: flex;
            justify-content: center;
            height: 100%;
            align-items: center;
            .successful{
                margin:8px 0;
            color:rgb(96,96,96);
            font : {
                size : 1.4rem;
            }
            width: 180px;
            text-overflow: initial;
            white-space: initial;
            }
            
        }
        
    }
}
