<ion-header mode="md">
    <ion-navbar>
      <ion-title>Investor Info 2/5</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <form>
          <ion-list mode="ios">
            <div class="mb">
                <ion-item mode="ios">
                    <ion-label floating>Marital Status</ion-label>
                    <ion-select name="status" [selectOptions]="selectOptions1">
                        <ion-option value="Single" selected>Single</ion-option>
                        <ion-option value="Married">Married</ion-option>
                    </ion-select>
                  </ion-item>
            </div>
            <div class="mb">
              <ion-item mode="ios">
                <ion-label floating>Mother's Name</ion-label>
                <ion-input type="text" name="motherName" value="Anuradha Patel"></ion-input>
              </ion-item>
            </div>
            <ion-row>
              <ion-col col-6>
                  <div class="dob mb">
                      <ion-item mode="ios">
                        <ion-label floating>Date of Birth</ion-label>
                        <ion-datetime  #datePicker displayFormat="MM/DD/YYYY"></ion-datetime>
                      </ion-item>
                      <img src="./assets/imgs/calendar.png" alt="calendar" (click)="dateChanged()">
                    </div>
              </ion-col>
              <ion-col col-6>
                  <div class="mb">
                      <ion-item mode="ios">
                          <ion-label floating>Gender</ion-label>
                          <ion-select name="gender" [selectOptions]="selectOptions1">
                              <ion-option value="Female" selected>Male</ion-option>
                              <ion-option value="Male">Male</ion-option>
                          </ion-select>
                        </ion-item>
                  </div>
                </ion-col>
            </ion-row>
            <div class="mb">
                <ion-item mode="ios">
                    <ion-label floating>Investor Type</ion-label>
                    <ion-select name="investorType" [(ngModel)]="investorType" [selectOptions]="selectOptions2">
                        <ion-option value="Individual">Individual</ion-option>
                        <ion-option value="NRI">NRI</ion-option>
                    </ion-select>
                  </ion-item>
                  <div class="error" *ngIf="currentMember?.isNRI && investorType==='Individual'">
                      You have already selected NRI previously.
                  </div>
                  <div class="error" *ngIf="currentMember?.isNRI===false && investorType==='NRI'">
                        You have already selected Individual previously.
                    </div>
            </div>
            <!-- <div class="mb">
                    <img [src]="chosenPicture" onerror="this.src='./assets/imgs/cancel-cheque.png'" alt="profile" >
            </div> -->
            <div class="mb">
                <ion-label class="upload-text">Upload:</ion-label>
                <div class="upload-container">
                    <div class="cancelCheque" (click)="changePicture()">
                        <img src="./assets/imgs/cancel-cheque.png" alt="cancel-cheque">
                        <ion-label>Cancelled Cheque</ion-label>
                    </div>
                    <div class="signature">
                        <img src="./assets/imgs/sign.png" alt="sign">
                        <ion-label>Digital Signature</ion-label>
                    </div>
                </div>
            </div>
          </ion-list>
      </form>
      <div class="footer-action-btn">
        <button ion-button round block class="action-btn" 
[disabled]="currentMember?.isNRI===false && investorType==='NRI'" mode="md" (click)="nextPage()">
                SUBMIT
          </button>
        </div> 
  </ion-content>
  