<ion-content>
  <div ion-fixed>
    <h4 text-center>Select City</h4>
    <ion-searchbar mode="md" *ngIf="showCity" [(ngModel)]="searchString" (ionInput)="onSearch(searchString)">
    </ion-searchbar>
    <button ion-button (click)="dismiss()" class="dismiss">
      <ion-icon name="close"></ion-icon>
    </button>
  </div>
  <!-- <button ion-button (click)="dismiss()" class="dismiss">
    <ion-icon name="close"></ion-icon>
  </button> -->
  <ion-scroll class="top-city" scrollY="true">
    <div class="error" *ngIf="topCityList?.length === 0">
      No Banks Found.
    </div>
    <ion-row>
        <ion-col col-4 (click)="selectCity(city.cityName)" *ngFor="let city of topCityList">
            <div class="city">
              <img [src]="city.cityImg" [alt]="city.cityName">
            </div>
            <ion-label class="city-name">{{city.cityName}}</ion-label>
          </ion-col>
      <!-- <ion-col col-4 (click)="selectCity('Mumbai')">
        <div class="city">
          <img src="./assets/imgs/city-icons/mumbai.png" alt="mumbai">
        </div>
        <ion-label class="city-name">Mumbai</ion-label>
      </ion-col>
      <ion-col col-4 (click)="selectCity('Delhi')">
        <div class="city">
          <img src="./assets/imgs/city-icons/delhi.png" alt="delhi">
        </div>
        <ion-label class="city-name">Delhi</ion-label>
      </ion-col>
      <ion-col col-4 (click)="selectCity('Bengaluru')">
        <div class="city">
          <img src="./assets/imgs/city-icons/bengaluru.png" alt="bengaluru">
        </div>
        <ion-label class="city-name">Bengaluru</ion-label>
      </ion-col>
      <ion-col col-4 (click)="selectCity('Hyderabad')">
        <div class="city">
          <img src="./assets/imgs/city-icons/hyderabad.png" alt="hyderabad">
        </div>
        <ion-label class="city-name">Hyderabad</ion-label>
      </ion-col>
      <ion-col col-4 (click)="selectCity('Ahmedabad')">
        <div class="city">
          <img src="./assets/imgs/city-icons/ahmedabad.png" alt="ahmedabad">
        </div>
        <ion-label class="city-name">Ahmedabad</ion-label>
      </ion-col>
      <ion-col col-4 (click)="selectCity('Chennai')">
        <div class="city">
          <img src="./assets/imgs/city-icons/chennai.png" alt="Chennai">
        </div>
        <ion-label class="city-name">Chennai</ion-label>
      </ion-col> -->
    </ion-row>
  </ion-scroll>
  <!-- <h4 text-center>Select Top City</h4> -->
  <!-- <div class="top-city">
  
  </div> -->
  <div class="view-all">
    <button ion-button clear outline mode="md" (click)="showAll()">
      View All Cities
    </button>
  </div>
</ion-content>